{% extends "base.html" %}

{% block content %}
  <h2>Edit Comment</h2>
  <a href="/blog" class="nav-link">Cancel and return to main blog</a><br><br>
  <a href="{{'/blog/%s/editcomment/%s'%(postid, comment)}}" class="nav-link">Restore original comment</a><br><br>

    <form method="post">
      

      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
{% endblock %}
